<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 转盘声音 -->
    <add key="MovingSound" value="Sound\MovingSound.wav"/>
    <!-- 烟花声音 -->
    <add key="FireSound" value="Sound\FireSound.wav"/>
    <!-- 中奖声音 -->
    <add key="LuckySound" value="Sound\LuckySound.wav"/>
    <!-- Ready声音 -->
    <add key="ReadySound" value="Sound\ready.wav"/>
    <!-- go声音 -->
    <add key="GoSound" value="Sound\go.wav"/>
    <!-- Ready文本 -->
    <add key="ReadyText" value="Ready"/>
    <!-- go文本 -->
    <add key="GoText" value="GO"/>
    <!-- 中奖指针颜色 -->
    <add key="luckyPiontColor" value="Yellow" />
    <!-- 中奖指针图片 -->
    <add key="LuckyPointImg" value="img/LuckyPointImg.png" />
    <!-- 圆饼内字体名称 -->
    <add key="PieFontFamily" value="宋体" />
    <!-- 圆饼内字体颜色 -->
    <add key="PieFontColor" value="Blue" />
    <!-- 圆饼边框颜色 -->
    <add key="PieBorderColor" value="Yellow" />
    <!-- 圆饼填充色1 -->
    <add key="PieColor1" value="#FF4040" />
    <!-- 圆饼填充色2 -->
    <add key="PieColor2" value="#FF4040" />
    <!-- 圆饼填充色3 -->
    <add key="PieColor3" value="#FF4040" />
    <!-- 选中圆盘的填充色 -->
    <add key="HighLightPieColor" value="Yellow" />
    <!-- 中奖项目的字体颜色 -->
    <add key="GiftColor" value="Blue" />
    <!-- 中奖项目的字体名称 -->
    <add key="GiftFontFamily" value="华文行楷" />
    <!-- 抽奖项目的字体颜色 -->
    <add key="PlayerColor" value="#ff0000" />
    <!-- 抽奖项目的字体名称 -->
    <add key="PlayerFontFamily" value="宋体" />
    <!-- 窗体背景图片 -->
    <add key="BackgroudImg" value="img/backgroud.png" />
    <!-- 圆盘中心图片 -->
    <add key="RotorPlateImg" value="img/RotorPlateBackImg.png" />
    <!-- 转盘的厚度 -->
    <add key="PieThickness" value="90" />
    <!-- 转动动画刷新频率 -->
    <add key="DispatcherTime" value="20" />
    <!-- 转盘初始速度（度/秒） -->
    <add key="Speed" value="300" />
    <!-- 窗体背景颜色 -->
    <add key="WindowBackColor" value="LightBlue" />
    <!-- 烟花 -->
    <add key="Fireworks" value="" />
    
    <!-- 员工数据 -->
    <add key="EmployeesData" value=".\Data\Employees.xml" />
    <!-- 礼品数据 -->
    <add key="GiftsData" value=".\Data\Gifts.xml" />
    <!-- 方案数据 -->
    <add key="SolutionsData" value=".\Data\Solutions.xml" />
    <add key="Test" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>